#toolbar {
    width: 100%;
    position: relative;
    text-align-all: center;
    text-align: center;
    border-width: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
}

table {
    width: 100%;
    text-align: center;
    alignment: center;
}

.label {
    text-align: right;
}

.leftAlignmentTD {
    text-align: left;
}

.centerAlignmentTD {
    text-align: center;
}

#logo {
    color: #3f3731;
    background-color: #ede4d4;
    border: 1px solid #cdc3b7;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 1.1em;
    alignment: left;
    text-align: left;
    display: inline;
    float: left;
    vertical-align: center;
    margin: 0 0 0 4px;
    font-weight: normal;
}


#inputForm {
    align-content: center;
}

/* support: IE7 */
* + html #toolbar {
    display: inline;
    align-content: center;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 20px;
    color: #555;
    /*align: center;*/
}

table {
    padding: 5px;
    background-color: #f9faff;
    /*text-align: center;*/
    alignment: center;
    margin-left: auto;
    margin-right: auto
}

td {
    padding: 5px;
}

a {
    color: #be7429;
    text-decoration: none;
}

#main {
}

.header {
    background-color: #f5f0e5;
    height: 30px;
}

#widgetBar {
    height: 50px;
    width: 94%;
}

.headerWidget {
    width: 194px;
    margin: 20px 0;
    font-size: small;
    float: right;
    line-height: 25px;
}

a:hover {
    text-decoration: underline;
}

.popupBox {
    position: absolute;
    top: 170px;
    left: 300px;
}

.popupCell {
    background-color: #fffafa;
}

#footer {
    flex: 0 0 auto; /*add*/
    align-content: center;
    alignment: center;
}

.popupCell:hover {
    background-color: #f5ebe9;
}

.popupItem {
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
}

hr {
    border: none;
    background-color: red;
    color: red;
    height: 1px;
}

.content {
    align: center;
    text-align: center;
    align-content: center;
    child-align: middle;
}

footer {
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0;
}

/* pagination position styling */
.pagination_section {
    /*position: relative;*/
    alignment: center;
    text-align: center;
}

/* pagination styling */
.pagination_section a {
    color: black;
    padding: 10px 18px;
    text-decoration: none;
}

.pagination_section a.active {
    color: #a46313;
    font-weight: bold;
}

/* pagination hover effect on non-active */
.pagination_section a:hover:not(.active) {
    background-color: #031F3B;
    color: white;
}


/* Style the tab */
/*.tab {*/
/*    display: inline-block;*/
/*    alignment: center;*/
/*    overflow: hidden;*/
/*    border: 1px solid #ccc;*/
/*    background-color: #f1f1f1;*/
/*}*/

/*!* Style the buttons that are used to open the tab content *!*/
#individual {
    display: inline-block;
    border: none;
}

#company {
    display: none;
    border: none;
}

.tab button {
    width: 200px;
    height: 30px;
    transition: 0.3s;
}

.tab button.active {
    /*background-color: #ccc;*/
    color: #b85700;
    font-weight: bold;
    border-color: #b85700;
}

/*.btn {*/
/*    width: 200px;*/
/*}*/

#editUserBtn {
    width: 100px;
}

#deleteUserBtn {
    width: 100px;
}

#regBtnComp {
    width: 300px;
    height: 30px;
}

#regBtnInd {
    width: 300px;
    height: 30px;
}

.tabButton {
    padding: 2px 4px;
    line-height: normal;
    margin-right: 0.1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    position: relative;
    display: inline-block;
    font-weight: normal;
    color: #3f3731;
    background: #ede4d4;
    border: 1px solid #cdc3b7;
    border-radius: 6px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.tabButton:hover {
    color: #a46313;
    background: #f5f0e5;
    border: 1px solid #f5ad66;
    text-decoration: none;
}

#saveReportBtn {
    width: 150px;
}

#sendReportBtn {
    width: 150px;
}

#topLoginButtons {
    float: right;
}

#comment {
    display: none;
    width: auto;
}

#recordsPerPageSpan {
    float: right;
    text-align: right;
}

.errorSpan {
    text-align: center;
}

#reportButtons {
    text-align: center;
    display: block;
    align-content: center;
    align-items: center;
    alignment: center;
}

#newReportType {
    vertical-align: middle;
    text-align: center;
}
#newReportBtn{
    height: 34px;
    margin-right: 0;
    /*margin-top: 2px;*/
    vertical-align: top;
}

/*#newReportType{*/
/*    vertical-align: middle;*/
/*}*/
/*#newReportForm{*/
/*    display: inline-block;*/
/*}*/

